services:
    backend:
        build: .
        ports:
            - '3000:3000'
        container_name: ft-transcendence-backend
        restart: unless-stopped
        environment:
            - NODE_ENV=production
        volumes:
            - ./logs:/back/logs
        networks:
            - transcendence-network

networks:
    transcendence-network:
        driver: bridge
