@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{ 
  display: flex;
  max-width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #131313;
  color: #fff;
  font-size: 96px;
  font-family: 'Fira Mono', monospace;
  letter-spacing: -7px;
}

#title{
  animation: glitch 1s linear infinite;
}

#subtitle{
  font-size: 24px;
  letter-spacing: 2px;
  text-align: right;
  animation: glitch 1s linear infinite;
}

#button{
  animation: glitch 1s linear infinite;
  background: none;
  color: white;
  border: 1px solid;
  padding: 1rem;
  font-family: 'Fira Mono', monospace;
  font-size: 48px;
  transform: skew(5deg);
  margin-top: 50px;
  position: float;
  margin-left: 37%;
  cursor: pointer;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

#title:before,
#title:after,
#subtitle:before,
#subtitle:after,
#button:before,
#button:after{
  content: attr(title);
  position: absolute;
  right: 0;
}

#title:before,
#subtitle:before,
#button:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

#title:after,
#subtitle:after,
#button:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

.scanlines {
  overflow: hidden;
  mix-blend-mode: difference;
}

.scanlines::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: repeating-linear-gradient(
    to bottom,
    transparent 0%,
    rgba(255, 255, 255, 0.05) .5%,
    transparent 1%
  );
  animation: fudge 7s ease-in-out alternate infinite;
}

@keyframes fudge {
  from { transform: translate(0px, 0px); }
  to { transform: translate(0px, 2%); }
}

h1{
  font-size: 48px;
  letter-spacing: 0px;
}