@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* --color-mint-500: oklch(0.72 0.11 178); */
  --color-primary: #FFF;       /* white */
  --color-secondary: #131313;  /* dark-grey */
  --color-cyan: #00ffff;       /* cyan */
  --color-magenta: #ff00ff;    /* magenta */
}

@layer components{
  .center-screen {
    @apply flex flex-col min-w-screen min-h-[100dvh] items-center justify-center;
  }
  /* Estilos para la paginación de Simple-Datatables */
  .datatable-pagination ul {
    @apply flex gap-6 justify-center mt-4;
  }

  .datatable-pagination li {
    @apply list-none;
  }

  .datatable-pagination a,
  .datatable-pagination a * ,
  .datatable-pagination button,
  .datatable-pagination button * {
    @apply px-0 py-0 rounded transition;
    cursor: pointer !important;
    pointer-events: auto !important;
    display: inline-block;
  }

  .datatable-pagination .active a {
    @apply bg-blue-500 text-white;
  }

  /* Personalizar el select de elementos por página */
  .datatable-selector {
    @apply bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-600 rounded px-2 py-1;
  }

  .datatable-selector:focus {
    @apply outline-none ring-2 ring-blue-400;
  }

  .datatable-container {
    @apply overflow-x-auto;
  }

  .datatable-info {
    @apply text-xs sm:text-base;
  }

  /* === TABLE -> CARDS EN MOBILE === */
  @media (max-width: 640px) {
    /* Convertimos tabla en bloques */
    table, thead, tbody, tr, td, th {
      @apply block w-full;
    }

    thead {
      @apply hidden; /* Ocultamos cabecera */
    }

    tbody {
      @apply flex flex-col items-center gap-4 py-2; /* cards centradas */
    }

    /* Cada fila será una "card" */
    tr {
      @apply  rounded-xl shadow-md hover:shadow-lg transition-transform hover:-translate-y-1 overflow-hidden;
    }

    /* Colores alternos */
    tr:nth-child(odd) {
      @apply bg-gray-900;
    }
    tr:nth-child(even) {
      @apply bg-secondary;
    }

    /* Estilo de celdas dentro de las cards */
    td {
      @apply flex justify-between px-4 py-3 border-b border-gray-200 dark:border-gray-700;
    }

    /* Quitamos borde al último elemento */
    td:last-child {
      @apply border-b-0;
    }

    /* Etiqueta de cada campo */
    td::before {
      content: attr(data-label);
      @apply font-semibold text-primary;
    }
  }
}

